@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config './tailwind.config.js';
.fi-sidebar nav, .fi-sidebar-header {
    background-color: #34393F !important;
}

.fi-sidebar-item-label, .fi-sidebar-item-icon {
    color: white !important;
}

.fi-sidebar-item-active > a, .fi-sidebar-item:hover > a {
    background-color: #356fc5 !important;
}